/* main-benefits ***/
.benefits__box {
  padding-top: 86px;
  padding-bottom: 86px;
}
.benefits__list {
  display: flex;
  margin: 0 auto;
  padding: 0;

  & .benefits__header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--mainhead-color);
  }
  & .benefits__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;

    color: var(--maintext-color);
  }
}
.benefits__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
  & .benefits__content {
    width: 270px;
    height: 120px;
    background-color: var(--section-grey-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
