// MAIN BTN
.hero__btn {
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 216px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px var(--shadow-color);
  border: var(--accent-color);
  border-radius: 4px;

  transition: transform, text-shadow, box-shadow, border, var(--transition-animation);

  color: var(--background-white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px var(--shadow-color);
    box-shadow: 0px 4px 4px var(--shadow-color-secondary);
    border-radius: 4px;
    transform: scale(1.1);
  }
}
// MODAL-BTN
.feedback__btn {
  display: block;
  align-items: center;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px var(--shadow-color);
  border: var(--accent-color);
  border-radius: 4px;

  transition: transform, text-shadow, box-shadow, border, var(--transition-animation);

  color: var(--background-white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px var(--shadow-color);
    box-shadow: 0px 4px 4px var(--shadow-color-secondary);
    border-radius: 4px;
    transform: scale(1.05);
  }
}
// CLOSE BTN
.feedback__btn--close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  font-family: sans-serif;
  font-size: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: translate, color, background-color, box-shadow, border, var(--transition-animation);

  color: var(--black-color);
  background-color: var(--background-white-color);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px var(--shadow-color);
    color: var(--accent-color);
  }
}
.feedback__close--icon {
  fill: currentColor;
}
// EMAIL BTN
.footer__form--btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px var(--shadow-color);
  border: var(--accent-color);
  border-radius: 4px;

  transition: transform, text-shadow, box-shadow, border, var(--transition-animation);
  color: var(--background-white-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px var(--shadow-color);
    box-shadow: 0px 4px 4px var(--shadow-color);
    border-radius: 4px;
    transform: scale(1.01);
  }
}
.footer__btn--icon {
  fill: currentColor;
  margin-left: 10px;
}
