.feedback {
  position: absolute;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--background-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  & .feedback__header {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mainhead-color);
    margin-bottom: 12px;
    margin-top: 38px;
  }
}
.feedback__form {
  margin-left: 44px;
  margin-right: 36px;
  margin-bottom: 42px;
  justify-content: center;
  align-items: center;

  & .feedback__input--group {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--maintext-color);
    margin-bottom: 10px;
  }
}
.feedback__input--box {
  position: relative;
  margin-top: 4px;

  & .feedback__input--svg {
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translateY(-50%);
    transition: transform, fill, var(--transition-animation);
  }
}
.feedback__input {
  height: 40px;
  padding-left: 30px;
  width: 100%;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  transition: transform, border, var(--transition-animation);

  &:required {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
  &:hover + svg,
  &:focus + svg {
    fill: var(--accent-color);
  }
}

.feedback__comment--box {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--maintext-color);
  margin-bottom: 20px;

  & .feedback__comment-content {
    margin-top: 4px;
    width: 100%;
    height: 120px;
  }
}
.feedback__comment-content textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
  }
}
.feedback__comment--text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;

  transition: transform, border, var(--transition-animation);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.feedback__policy--box {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px var(--shadow-color);
  color: var(--maintext-color);
}
.feedback__policy--input {
  appearance: none;

  &:checked + .feedback__policy--icon {
    fill: var(--accent-color);
    border: none;
  }
}
.feedback__policy--icon {
  position: absolute;
  width: 16px;
  height: 15px;
  fill: var(--background-white-color);
  border: 1px solid var(--mainhead-color);
  border-radius: 3px;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.feedback__policy--text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px var(--shadow-color);
  color: var(--maintext-color);
}
.feedback__policy--rules {
  color: var(--accent-color);
  text-decoration: none;
  transition: text-shadow, var(--transition-animation);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    text-decoration: underline;
  }
}
input[type='radio']:checked + label {
  background-color: var(--accent-color);
}
.feedback__btn--box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
