// LOGO HEADER
.header__logo--1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--black-color);

  & .header__logo--2 {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--accent-color);
  }
}
// LOGO-FOOTER
.footer__logo--1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--background-white-color);

  & .footer__logo--2 {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--accent-color);
  }
}
