.port__box {
  padding: 94px 0;
}
.menu {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;

  & > .menu__item:not(:last-child) {
    margin-right: 8px;
  }
}

.menu__link {
  display: inline-block;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;

  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color, background-color, box-shadow, var(--transition-animation);

  color: var(--mainhead-color);
  background-color: var(--section-grey-color);

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--background-white-color);
    background-color: var(--accent-color);
  }
}
